#page-content {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
}

.title-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

.add-btn {
    position: absolute;
    grid-row: 3;
    right: 4rem;
    bottom: 4rem;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-size: 4.5rem;
    font-weight: 900;
    border: 5px double var(--add-btn-color);
    background-color: var(--add-btn-bg-color);
    color: var(--add-btn-color);
    box-shadow: 0 0 0px var(--add-btn-bg-color), 0 0 0px var(--add-btn-color), 0 0 18px var(--add-btn-bg-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.add-btn:active,
.add-btn:hover {
    box-shadow: 0 0 10px var(--add-btn-bg-color), 0 0 20px var(--add-btn-color), 0 0 30px var(--add-btn-bg-color);
    border: 5px double var(--add-btn-bg-color);
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color)
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: stretch;
    overflow-x: hidden;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa #eee;
  
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #eee;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 4px;
    }
}

.todo-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1rem 0 0;
    margin: 0;
    background-color: var(--todo-item-bg-color);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.todo-item:hover {
    transform: scale(1.003);
    transform-origin: 50% 50%;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--todo-item-hover-color);
}

.color-pane {
    width: 1rem;
}

.todo-text {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.todo-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

.todo-right {
    display: grid;
    grid-template-columns: min-content 200px repeat(2, min-content);
    gap: 2rem;
    align-items: center;
}

.todo-details {
    display: inline-block;
    padding: 10px 20px;
    color: var(--add-btn-bg-color);
    background-color: transparent;
    border: 1px solid var(--add-btn-bg-color);
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-details:hover {
    background-color: var(--add-btn-bg-color);
    color: var(--add-btn-color);
}

.todo-edit img,
.todo-delete img {
    width: 2rem;
    height: 2rem;
}

.todo-edit,
.todo-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-edit:hover,
.todo-delete:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
}

.completed {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--add-btn-color);
    border-radius: 50%;
    /* transition: all 0.2s ; */
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and Chrome */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.completed:hover {
    border: 3px solid #90CAF9;
}

.checked {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3F51B5;
    background-color: #90CAF9;
    color: #3F51B5;
    font-weight: 900;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
}

.checked-text {
    text-decoration: line-through;
}

.checked-item {
    opacity: 0.5;
}

#detailFormContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#editFormContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#editForm {
    -webkit-box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69); 
    box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69);
    display: grid;
    grid-template-rows: min-content 1fr;
    align-items: stretch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sidebar-bg-color);
    width: 750px;
    height: 500px;
    border-radius: 15px;
}

#detailsForm {
    -webkit-box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69); 
    box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sidebar-bg-color);
    width: max-content;
    height: max-content;
    border-radius: 15px;
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: auto;
}

.edit-header,
.detail-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-items: center;
    padding: 0 1.25rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--add-btn-color);
    color: var(--form-header-color);
}

.detail-header h2 {
    font-size: 2rem;
    font-weight: 900;
}

.detail-body {
    padding: 1.25rem;
    display: grid;
    grid-template-rows: repeat(4, min-content) 1fr;
    gap: 1rem;
}

.detail-body p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 900;
}

.due-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

.detail-body .detail-title {
    font-weight: 900;
    font-size: 2.5rem;
}

.word-container {
    max-width: 375px;
    flex: 1;
    word-wrap: break-word;
    padding: 0 1rem;
}

.wrapper {
    max-width: 1000px;
    flex: 1;
    word-wrap: break-word;
}

.priority-container #edit-low:hover + label,
.priority-selection #edit-low:checked + label {
    background-color: #4CAF50;
    color: white;
}

.priority-container #edit-medium:hover + label,
.priority-selection #edit-medium:checked + label {
    background-color: #FFC107;
    color: white;
}

.priority-container #edit-high:hover + label,
.priority-selection #edit-high:checked + label {
    background-color:  #F44336;
    color: white;
}

.priority-container #edit-low + label {
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

.priority-container #edit-medium + label {
    color: #FFC107;
    border: 1px solid #FFC107;
}

.priority-container #edit-high + label {
    color:  #F44336;
    border: 1px solid  #F44336;
}