#page-content {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: start;
    padding-left: 1rem;
    padding-right: 2rem;
}

.title-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

.add-btn {
    position: absolute;
    grid-row: 3;
    right: 4rem;
    bottom: 4rem;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    font-size: 4.5rem;
    font-weight: 900;
    border: 5px double var(--add-btn-color);
    background-color: var(--add-btn-bg-color);
    color: var(--add-btn-color);
    box-shadow: 0 0 0px var(--add-btn-bg-color), 0 0 0px var(--add-btn-color), 0 0 18px var(--add-btn-bg-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.add-btn:active,
.add-btn:hover {
    box-shadow: 0 0 10px var(--add-btn-bg-color), 0 0 20px var(--add-btn-color), 0 0 30px var(--add-btn-bg-color);
    border: 5px double var(--add-btn-bg-color);
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color)
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: var(--add-btn-color);
    color: var(--content-text-color);
    /* border-top-left-radius: 12px; */
    /* border-top-right-radius: 12px; */
    border-radius: 12px;
}

.notes-list {
    display: flex;
    gap: 10px;
    /* gap: 1rem; */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa #eee;
  
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #eee;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 4px;
    }
}

.note {
    padding: 10px;
    background-color: rgb(89 107 160 / 15%);
    color: var(--content-text-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    border: none;
}

.note:hover {
    -webkit-transform: scale(1.003);
    transform: scale(1.01);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.6);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    background-color: rgb(89 107 160 / 25%);
}

.note:hover .note-title {
    color: var(--add-btn-bg-color);
    font-size: 1.3rem;
}

.note:hover .note-description {
    color: white;
}

.note-description {
    border: none;
    outline: none;
    resize: none;
    min-height: 25px;
}

.note-title {
    border: none;
    outline: none;
    resize: none;
    min-height: 25px;
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--content-text-color);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.note .buttons{
    padding: 0rem 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-self: flex-end;
}

.note .buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.note .buttons button:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}


.note .buttons img {
    width: 1.5rem;
    height: 1.5rem;
}

.todo-list-project,
.todo-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: stretch;
    overflow-x: hidden;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa #eee;
  
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #eee;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 4px;
    }
}

.todo-project,
.todo-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1rem 0 0;
    margin: 0;
    background-color: var(--todo-item-bg-color);
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.todo-project:hover,
.todo-item:hover {
    transform: scale(1.003);
    transform-origin: 50% 50%;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--todo-item-hover-color);
}

.color-pane {
    width: 1rem;
}

.todo-text {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.todo-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    flex: 1;
}

.todo-right-project {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.todo-right {
    display: grid;
    grid-template-columns: min-content 200px repeat(3, min-content);
    gap: 2rem;
    align-items: center;
}

.todo-details {
    display: inline-block;
    padding: 10px 20px;
    color: var(--add-btn-bg-color);
    background-color: transparent;
    border: 1px solid var(--add-btn-bg-color);
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-details:hover {
    background-color: var(--add-btn-bg-color);
    color: var(--add-btn-color);
}

.star img,
.todo-edit img,
.todo-delete img {
    width: 2rem;
    height: 2rem;
}

.star{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.125s ease;
}
.todo-edit,
.todo-delete {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.star:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
}
.todo-edit:hover,
.todo-delete:hover{
    transform: scale(1.1);
    filter: brightness(1.2);
}

.completed {
    width: 2rem;
    height: 2rem;
    border: 3px solid var(--add-btn-color);
    border-radius: 50%;
    /* transition: all 0.2s ; */
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and Chrome */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.completed:hover {
    border: 3px solid #90CAF9;
}

.checked {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #3F51B5;
    background-color: #90CAF9;
    color: #3F51B5;
    font-weight: 900;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
}

.checked-text {
    text-decoration: line-through;
}

.checked-item {
    opacity: 0.5;
}

#editProjectFormContainer,
#detailFormContainer,
#customFilterContainer,
#editFormContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#filterForm{
    -webkit-box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69); 
    box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69);
    display: grid;
    grid-template-rows: min-content 1fr;
    align-items: stretch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sidebar-bg-color);
    width: 450px;
    height: 480px;
    border-radius: 15px;
}

#editProjectForm,
#editForm {
    -webkit-box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69); 
    box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69);
    display: grid;
    grid-template-rows: min-content 1fr;
    align-items: stretch;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sidebar-bg-color);
    width: 750px;
    height: 500px;
    border-radius: 15px;
}

#detailsForm {
    -webkit-box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69); 
    box-shadow: 8px 6px 14px 0px rgba(0,0,0,0.69);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--sidebar-bg-color);
    width: max-content;
    height: max-content;
    border-radius: 15px;
    max-width: 80vw;
    max-height: 80vh;
}

.edit-header,
.detail-header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    justify-items: center;
    padding: 0 1.25rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: var(--add-btn-color);
    color: var(--form-header-color);
}

.detail-header h2 {
    font-size: 2rem;
    font-weight: 900;
}

.detail-body {
    padding: 1.25rem;
    display: grid;
    grid-template-rows: repeat(4, min-content) 1fr;
    gap: 1rem;
    max-height: 380px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #aaa #eee;
  
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #eee;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
      border-radius: 4px;
    }

}

#edit-project-form {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-rows: 3fr 1fr;
}

#editProj {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-rows: min-content 3fr 2fr;
}

.detail-body p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 900;
}

.due-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 6rem;
}

.detail-body .detail-title {
    font-weight: 900;
    font-size: 2.5rem;
}

.word-container {
    max-width: 300px;
    flex: 1;
    word-wrap: break-word;
    padding: 0 1rem;
}

.wrapper {
    max-width: 1000px;
    flex: 1;
    word-wrap: break-word;
}

#filter-low:hover + label,
#filter-low:checked + label,
.priority-container #edit-low:hover + label,
.priority-selection #edit-low:checked + label {
    background-color: #4CAF50;
    color: white;
}

#filter-medium:hover + label,
#filter-medium:checked + label,
.priority-container #edit-medium:hover + label,
.priority-selection #edit-medium:checked + label {
    background-color: #FFC107;
    color: white;
}

#filter-high:hover + label,
#filter-high:checked + label,
.priority-container #edit-high:hover + label,
.priority-selection #edit-high:checked + label {
    background-color:  #F44336;
    color: white;
}

#filter-low + label,
.priority-container #edit-low + label {
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

#filter-medium + label,
.priority-container #edit-medium + label {
    color: #FFC107;
    border: 1px solid #FFC107;
}

#filter-high + label,
.priority-container #edit-high + label {
    color:  #F44336;
    border: 1px solid  #F44336;
}

.display {
    display:flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.selection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.selection input[type=radio] + label {
    color:  var(--add-btn-color);
    border: 1px solid  var(--add-btn-color);
}

.filter-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--add-btn-bg-color);
    background-color: transparent;
    border: 1px solid var(--add-btn-bg-color);
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}

.selection input[type=radio]:hover + label,
.selection input[type=radio]:checked + label 
{
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color);
}

.sort {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    color: var(--add-btn-bg-color);
    font-size: 18px;
    font-weight: 900;
}

.sort-selection {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--add-btn-bg-color);
    background-color: transparent;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    border: 1px solid var(--add-btn-bg-color);
}

.sort-selection:hover {
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color);
}

.sort-selection:active {
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color);
    border: 1px solid var(--add-btn-bg-color);
}

.right-display {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
}

.filter-btn:hover {
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color);
}

.filter-applied{
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color);
}

.filter-body {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-rows: repeat(4, min-content) 1fr;
    padding-bottom: 2rem;
}

.due-before-container,
.due-after-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.due-before-container label,
.due-after-container label {
    font-size: 1.2rem;
    font-weight: 900;
}

.due-before-container input[type=date],
.due-after-container input[type=date] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--add-btn-color);
    background-color: transparent;
    color: var(--add-btn-color);
    font-size: 1.2rem;
    font-weight: 900;
    outline: none;
}

.choice-container {
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.discard-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--add-btn-bg-color);
    background-color: transparent;
    border: 1px solid var(--add-btn-bg-color);
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}

.discard-btn:hover {
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color);
}

.apply-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--add-btn-bg-color);
    background-color: transparent;
    border: 1px solid var(--add-btn-bg-color);
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
}

.apply-btn:hover {
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color);
}

.title-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    justify-content: center;
}

.title-container h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    background-color: var(--add-btn-color);
    padding: 1rem;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 12px;
    color: var(--add-btn-bg-color);
    background-color: transparent;
    border: 3px solid var(--add-btn-color);
    font-size: 55px;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.back-btn:hover {
    background-color: var(--add-btn-color);
    color: var(--add-btn-bg-color);
}

.name-container{
    max-width: 60vw;
    flex: 1;
    word-wrap: break-word;
    padding: 0 1rem;
}
.word-name-container{
    max-width: 71%;
    flex: 1;
    word-wrap: break-word;
    padding: 0 1rem;
}